<div class="container">
    <h2>Nuestros cursos</h2>
</div>

<div class="card-deck containe">
    <div class="card">
      <img class="card-img-top" src="./assets/programacion1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Programacion</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThis content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Los mejores cursos de programacion</small></p>
        
        <button class="btn btn-outline-primary">Ver mas</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/diseno2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Diseño</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Lo mejor del diseño web</small></p>
        
        <button class="btn btn-outline-primary">Ver mas</button>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/java2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Arquitectura Software</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">La arquitectura del software lo mas demandado</small></p>
         
          <button class="btn btn-outline-primary">Ver mas</button>
        </div>
      </div>
    <div class="card">
      <img class="card-img-top" src="./assets/bd.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bases de Datos</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This content is a little bit longer</p>
        <p class="card-text"><small class="text-muted">Aprende administrar base de datos </small></p>
        
        <button class="btn btn-outline-primary ">Ver mas</button>
       
      </div>
    </div>
  </div>

  
