<section class="contacta">
   
    <h3 class="suenos">Encuentra la mejor Formacion que impulse tu carrera</h3>
    <h4 class="llena">Llena el formulario y los pondremos en contacto contigo</h4>
    <div class="contactanos">
        <a class="enlace" href="contacto.html">Contactanos</a>
    </div>

</section>

<div class="titulo_blog_testimoniales">
    <h2 class="nuestro_blog">Proximas Masterclass</h2>
    <h2 class="nuestro_blog">Testimoniales</h2>

</div>



<section class="blog">
    <article class="articulo_blog">
        <div class="primer_blog">
            <div class="primer_imagen_blog">
                <img class="imagen_blog" src="./assets/blog1.jpg" alt="imagen de casa">

            </div>

            <div class="blog_texto_primero">

                <h4 class="titulo_blog"> <span class="borde">Framework mas demandados</span> al dia de hoy</h4>

                <p class="fecha_titulo"><em> Fecha: <b class="resaltar">25/03/2022</b> Lugar: <b
                            class="resaltar">Madrid, calle barca 4 13:00 horas</b></em></p>
                <p class="ver_mas">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's Ipsum is simply dummy text of the
                </p>

                <a class="ver" href="pagina_blog.html">Ver mas</a>





            </div>

        </div>

        <div class="primer_blog">
            <div class="segunda_imagen_blog">
                <img class="imagen_blog" src="./assets/blog2.jpg" alt="imagen de casa">


            </div>



            <div class="blog_texto_primero">
                <h4 class="titulo_blog"><span class="borde">Arquitecturas de software</span> y patrones de diseño</h4>

                <p class="fecha_titulo"> <em> Fecha: <b class="resaltar">10/05/2022</b> lugar: <b
                            class="resaltar">Madrid, calle barca 4 16:00 horas</b></em></p>
                <p class="ver_mas">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's Ipsum is simply dummy text of the</p>

                <a class="ver" href="pagina_blog.html">Ver mas</a>



            </div>

        </div>






    </article>

    <article class="testimoniales">

        <h4 class="texto_testimoniales"><img class="comillas" src="img/comilla.svg" alt=""> <em> Lorem Ipsum is
                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and industry's standard dummy text ever since
            </em></h4>
        <h4 class="nombre_testimonial"> <em> - Alvaro Montes</em></h4>
    </article>





</section>

<footer class="pie">

    <article class="legal">
        <h5 class="titulo_legal">Seccion legal</h5>
        <ul>
            <li class="politica"><a href="Politica_privacidad.html">Politica de privacidad</a></li>
            <li><a href="aviso_legal.html">Aviso legal</a></li>
            <li><a href="cookies.html">Cookies</a></li>
        </ul>
    </article>

    <article class="direccion">
        <h5 class="titulo_mapa">Mapa</h5>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3043.990556986368!2d-3.792138684746782!3d40.27595997938173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418b1b6f3885f9%3A0x3b6e89461db52a31!2sCalle%20de%20la%20Fontana%2C%2014%2C%2028944%20Fuenlabrada%2C%20Madrid!5e0!3m2!1ses!2ses!4v1618613708494!5m2!1ses!2ses"
            width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </article>

    <article class="direccion_dos">
        <h5 class="titulo_direccion_dos">Direccion</h5>
        <p>Direccion:Calle fontana 4</p>
        <p>Telefono:989-78-98-88</p>
        <p>constructura@55gmail.com</p>
        <p>Horario de atencion:</p>
        <p>Lunes a vienes de 10:00 A 15:00</p>

    </article>

    <article class="menu">
        <h5 class="titulo_menu">Menu</h5>
        <ul>
            <li class="nosotros"><a href="nosotros.html">Nosotros</a></li>
            <li><a href="anuncios.html">Anuncios</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>

    </article>

    <article class="redes">
        <h5 class="titulos_redes">Tambien los puedes encontrar</h5>

        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram-square"></i>

    </article>

</footer>

<div class="footer_final">
    <p class="texto_footer_final">© 2021 todos los derechos reservados </p>

</div>


