<div class="container col-md-6 mt-4">
    <div class="card-header">
        <h3>Agregar Datos</h3>

    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">Nombres:</label>
                <input [(ngModel)]="tarea.nombre" name="nombre" type="text" class="form-control">
            </div>

           
            <div class="form-group">
                <label for="">Instituto:</label>
                <input [(ngModel)]="tarea.instituto" name="completado" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Fecha Inicio:</label>
                <input [(ngModel)]="tarea.fechaInicio" name="fechaInicio" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Fecha Entrega:</label>
                <input [(ngModel)]="tarea.fechaEntrega" name="fechaEntrega" type="text" class="form-control">
            </div>


            <div class="form-group">
                <label for="">Completado:</label>
                <input [(ngModel)]="tarea.completado" name="completado" type="text" class="form-control">
            </div>

            <button (click)="Guardar()" class="btn btn-danger mt-2">Guardar</button>
        </form>
       
    </div>

</div>
